<div class="chat-container">
  <div class="chat-messages" #chatMessagesContainer>
    <div class="grid gap-y-2">

      @for (message of messages(); track $index) {
        @if (!message.travelPlan) {
          <app-chat-message
            [message]="message"
            [isUserMessage]="message.senderType === SenderType.USER"
          />
        } @else {
          <app-chat-plan-result [message]="message"/>
        }
      }

      @if (isLoading()) {
        <app-typing-loader />
      }
    </div>
  </div>

  <!-- Message box -->
   <app-text-message-box
    placeholder="Type your message here..."
    (messageEmitter)="handleMessage($event)"
    (voiceReply)="onVoiceReply($event)"
    (isLoading)="isLoading.set($event)"
   />
</div>
