@if (!isUserMessage) {
  <div class="col-start-1 col-end-9 p-3 rounded-lg">
    <div class="flex items-start">
      <div class="flex items-center justify-center h-10 w-10 flex-shrink-0 rounded-full bg-green-600">
        <i class="fa-solid fa-robot text-2xl"></i>
      </div>
      <div class="relative ml-3 text-sm bg-black/75 pt-3 pb-2 px-4 shadow rounded-xl">
        {{ message }}
      </div>
    </div>
  </div>
} @else {
  <div class="col-start-6 col-end-12 p-3 rounded-lg">
    <div class="flex items-center justify-start flex-row-reverse">
      <div class="flex items-center justify-center h-10 w-10 flex-shrink-0 rounded-full bg-indigo-500">
        <i class="fa-solid fa-user text-2xl"></i>
      </div>
      <div class="relative mr-3 text-sm bg-black/75 pt-3 pb-2 px-4 shadow rounded-xl">
        {{ message }}
      </div>
    </div>
  </div>
}
