button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #5c67f2;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #4a54e1;
}
